    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@using ShopWatches.Models;
@using PagedList.Mvc;
@model List<ShopWatches.Models.TaiKhoan>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<h1 class="page-header">
    <a href="/QLTaiKhoan/ThemTk" class="btn btn-outline btn-primary">Thêm</a>
</h1>
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Mật khẩu</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <tr class="even gradeA">
                        <td>@Model[i].MaTaiKhoan</td>
                        <td>@Model[i].TenTaiKhoan</td>
                        <td>@Model[i].MatKhau</td>
                        <td><a href="/QLTaiKhoan/SuaTk/@Model[i].MaTaiKhoan" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="/QLTaiKhoan/XoaTk/@Model[i].MaTaiKhoan" class="btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                }
                else
                {
                    <tr class="odd gradeA">

                        <td>@Model[i].MaTaiKhoan</td>
                        <td>@Model[i].TenTaiKhoan</td>
                        <td>@Model[i].MatKhau</td>
                        <td><a href="/QLTaiKhoan/SuaTk/@Model[i].MaTaiKhoan" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="/QLTaiKhoan/Delete/@Model[i].MaTaiKhoan" class="btn btn-outline btn-primary">Xóa</a></td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/sb-admin-2.js"></script>*@


