
@{
    ViewBag.Title = "ChiTietHd";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
    ShopWatchesEntities1 shop=new ShopWatchesEntities1();
    int mahd = (int)ViewBag.mahd;
    var hd = shop.HoaDons.SingleOrDefault(h => h.MaHoaDon == mahd);
}

@using System.Web.UI.WebControls
@using ShopWatches.Models
@model List<ShopWatches.Models.ChiTietHoaDon>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<div class="page-header">
    <h1>
        <a href="/QLHoaDon/Index" class="btn btn-outline btn-primary">Quay lại</a>
        @if (hd.TrangThai == false)
        {
            <a href="/QLHoaDon/Duyet/@ViewBag.mahd" class="btn btn-outline btn-primary">Duyệt</a>
        }
      

        <a href="/QLHoaDon/XoaHd/@ViewBag.mahd" class="btn btn-outline btn-primary">Xóa</a>

    </h1>
    
</div>

<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
              
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                
                if (i % 2 == 0)
                {
                    <tr class="even gradeA">
                        <td>@Model[i].ChiTietHoaDon1</td>
                        <td>@Model[i].SanPham.TenSP</td>
                        <td>@Model[i].SoLuong</td>
                        <td>@double.Parse(@Model[i].TongTien.ToString()).ToString("##,###") VNĐ</td>
                       @* <td><a href="/QLHoaDon/XoaChiTietHd/@Model[i].ChiTietHoaDon1" class="btn btn-outline btn-primary">Xóa</a></td>*@
                    </tr>
                }
                else
                {
                    <tr class="odd gradeA">
                        <td>@Model[i].ChiTietHoaDon1</td>
                        <td>@Model[i].SanPham.TenSP</td>
                        <td>@Model[i].SoLuong</td>
                        <td>@double.Parse(@Model[i].TongTien.ToString()).ToString("##,###") VNĐ</td>
                        @*<td><button type="button" onclick="Sua(this)" class="btn btn-outline btn-primary">Sửa</button></td>*@
                        @*<td><a href="/QLHoaDon/XoaChiTietHd/@Model[i].ChiTietHoaDon1" class="btn btn-outline btn-primary">Xóa</a></td>*@

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/sb-admin-2.js"></script>

<script>
    function Sua(el) {
        event.preventDefault();
        var id = el.parentNode.parentNode.cells[0].textContent;
        var sl = $(el.parentNode.parentNode.cells[2]).find(':input').val();
     
        $.ajax({
            url: '/QLHoaDon/SuaChiTietHd/?id=' + id + '&soLuong='+sl+'',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                window.location.reload();

            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });

    }
</script>