
@{
    ViewBag.Title = "ThemHd";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@model ShopWatches.Models.HoaDon
<h1 class="page-header">
    <a href="/QLHoaDon/Index" class="btn btn-outline btn-primary">Quay lại</a>
</h1>
<div class="row" style="margin-bottom: 50px">

    <div class="col-md-12">
        @using (Html.BeginForm("ThemHd", "QLHoaDon", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmThem" }))
        {
            <div class="form-group input-group" style="display: block;">
                <label>Khách hàng</label>
                @Html.TextBoxFor(m => m.TenKhachHang, new { @class = "form-control", placeholder = "Tên khách hàng", required = "required" })
            </div>

            <div class="form-group input-group" style="display: block;">
                <label>Địa chỉ</label>
                @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control", placeholder = "Địa chỉ" })
            </div>
            <div class="form-group input-group" style="display: block;">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
            </div>
            <div class="form-group input-group" style="display: block;">
                <label>Số điện thoại</label>
                @Html.TextBoxFor(m => m.SDT, new {@class = "form-control", placeholder = "Số điện thoại", type = "number"})
            </div>
            <div class="form-group input-group" style="display: block;">
                <label>Địa chỉ giao hàng</label>
                @Html.TextBoxFor(m => m.DiaChiGiaoHang, new {@class = "form-control", placeholder = "Địa chỉ giao"})
            </div>
            <div class="form-group input-group" style="display: block;">
                <label>Thời gian giao</label>
                @Html.TextBoxFor(m => m.ThoiGianGiaoHang, new { @class = "form-control", placeholder = "Thời gian giao", type = "date" })
            </div>
            <div style="float: left">
                <input type="submit" class="btn btn-outline btn-primary" value="Thêm" />
                <input type="reset" class="btn btn-outline btn-primary" value="Làm lại" />
            </div>
        }
    </div>

</div>


